@model SchoolManagementSystem.Models.Entities.Attendance

@{
    ViewData["Title"] = "Attendance";
}

<div class="card mb-4 shadow">
    <div class="card-header">Student Attendance</div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Enter Promote Id" id="promoteId" />
                        <h2 id="message">@ViewBag.Message</h2>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" value="Find" id="findPromoteRecord" />
                    </div>
                </div>
            </div>
            <hr />

            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId" id="StudentId">Select Student</select>
            </div>
            <div class="form-group">
                <label asp-for="SessionId" class="control-label"></label>
                <select asp-for="SessionId" class="form-control" asp-items="ViewBag.SessionId" id="SessionId">Select Session</select>
            </div>
            <div class="form-group">
                <label asp-for="ClassTblId" class="control-label"></label>
                <select asp-for="ClassTblId" class="form-control" asp-items="ViewBag.ClassTblId" id="ClassId">Select Class</select>
            </div>
            <div class="form-group">
                <label asp-for="AttendanceDate" class="control-label">Attendance Date</label>
                <input asp-for="AttendanceDate" class="form-control" />
                <span asp-validation-for="AttendanceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttendanceTime" class="control-label">Attendance Time</label>
                <input asp-for="AttendanceTime" class="form-control" />
                <span asp-validation-for="AttendanceTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Back to List</a>
            </div>
            @section Scripts
            {
                <script>
                    $(document).ready(function () {
                        console.log("hi");
                        $('#findPromoteRecord').click(function () {
                            console.log($('#promoteId').val());
                            $.ajax({
                                url:'@Url.Action("GetByPromoteId","Attendances")',
                                type: 'GET',
                                data: { sid: $('#promoteId').val() },
                                dataType: 'Json',
                                success: function (response) {
                                    console.log(response.studentId);
                                    $('#StudentId').val(response.studentId);
                                    $('#ClassId').val(response.classId);
                                    $('#SessionId').val(response.programeId);
                                    $('#message').text("");
                                },
                                error: function() {                                    
                                    $('#message').text("Not found");
                                    $('#message').css("color", "red", "font-size", "10px");
                                }
                            });
                        });
                    });
                </script>
            }
        </form>
    </div>
</div>

<div>

</div>