@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<SchoolManagementSystem.Models.Identity.ApplicationUser> signInManager;
@model SchoolManagementSystem.Models.Identity.LoginViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>Login</title>
    <script src="~/js/site.js"></script>
    <!-- Custom fonts for this template-->
    <link href="~/AdminTemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/AdminTemplate/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b style="color:darkmagenta">School ERP</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse  @*d-sm-inline-flex flex-sm-row-reverse*@">
                    <ul class="navbar-nav">
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="logout" asp-controller="account">
                                    <button type="Submit" class="nav-link btn btn-link py-0" style="width:auto">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            if (@Context.Session.GetString("isUserCreated") != "true")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-md-10">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        @*Nested Row within Card Body*@

                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block " style="margin-top:8%">
                                <img src="~/image/schoolLogo.gif" width="450" />
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1>Log In</h1>
                                        <h1 class="h4 text-gray-900 mb-4">Welcome To PRAISE-EL School!</h1>
                                    </div>
                                    <form class="user" asp-controller="Account" asp-action="Login" method="post" id="theFormID">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <input asp-for="Email" class="form-control form-control-user" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="checkbox">
                                                    <input asp-for="RememberMe">
                                                    @Html.DisplayNameFor(m => m.RememberMe)
                                                </div>
                                            </div>
                                        </div>

                                        <input type="submit" value="Login" class="btn btn-primary btn-user btn-block" id="btnLogin" onclick="JavaScript:return Validator();" />
                                        <hr>
                                        @*<a href="index.html" class="btn btn-google btn-user btn-block">
                                                <i class="fab fa-google fa-fw"></i> Login with Google
                                            </a>
                                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                                <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                            </a>*@
                                    </form>
                                    <hr>
                                    @*<div class="text-center">
                                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="register.html">Create an Account!</a>
                                        </div>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    
    <script src="~/js/site.js"></script>

    <script src="~/AdminTemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/AdminTemplate/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/AdminTemplate/js/sb-admin-2.min.js"></script>
    @section Scripts
    {
        <script>
                    //$(document).ready(function () {
                    //    $('#btnLogin').on("click", function () {
                    //        var email = $('#email').value;
                    //        if (email != null) {
                    //            return true;
                    //        }
                    //        else {

                    //        }
                    //        console.log(email);
                    //    });
                    //});
                    //function Validator() {
                    //    if (document.getElementById('email') != '') {
                    //        document.getElementById('theFormID').submit();
                    //        return (true);
                    //    } else {
                    //        return (false);
                    //    }
                    //}
        </script>
    }

</body>

</html>
