@model SchoolManagementSystem.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="card mb-4 shadow">
    <div class="card-header">Student Information</div>
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SessionId" class="control-label">Select Session</label>
                            <select asp-for="SessionId" class="form-control" asp-items="ViewBag.SessionId"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ProgrameId" class="control-label">Select Programe</label>
                            <select asp-for="ProgrameId" class="form-control" asp-items="ViewBag.ProgrameId"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ClassTblId" class="control-label">Select Current Class</label>
                            <select asp-for="ClassTblId" class="form-control" asp-items="ViewBag.ClassTblId"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Student Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FatherName" class="control-label">Father Name</label>
                            <input asp-for="FatherName" class="form-control" />
                            <span asp-validation-for="FatherName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DateOfBirth" class="control-label">Date of Birth</label>
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <input asp-for="Gender" class="form-control" />
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ContactNo" class="control-label">Contact No</label>
                            <input asp-for="ContactNo" class="form-control" />
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Nationality" class="control-label"></label>
                            <input asp-for="Nationality" class="form-control" />
                            <span asp-validation-for="Nationality" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Religion" class="control-label"></label>
                            <input asp-for="Religion" class="form-control" />
                            <span asp-validation-for="Religion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Category" class="control-label"></label>
                            <input asp-for="Category" class="form-control" />
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Cast" class="control-label"></label>
                            <input asp-for="Cast" class="form-control" />
                            <span asp-validation-for="Cast" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="GuardianName" class="control-label">Guardian Name</label>
                            <input asp-for="GuardianName" class="form-control" />
                            <span asp-validation-for="GuardianName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="GuardianOccupation" class="control-label">Guardian Occupation</label>
                            <input asp-for="GuardianOccupation" class="form-control" />
                            <span asp-validation-for="GuardianOccupation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="GuardianPhone" class="control-label">Guardian Phone</label>
                            <input asp-for="GuardianPhone" class="form-control" />
                            <span asp-validation-for="GuardianPhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AadharNo" class="control-label"></label>
                            <input asp-for="AadharNo" class="form-control" />
                            <span asp-validation-for="AadharNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @*<label asp-for="Photo" class="control-label"></label>
                        <input asp-for="Photo" class="form-control" />
                        <span asp-validation-for="Photo" class="text-danger"></span>*@

                            <label asp-for="Photo" class="col-form-label">Upload Image</label>
                            <div class="custom-file">
                                <input asp-for="Photo" class="form-control custom-file-input"><br />
                                <label class="custom-file-label">Choose File...</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AdmissionDate" class="control-label">Admission Date</label>
                            <input asp-for="AdmissionDate" class="form-control" />
                            <span asp-validation-for="AdmissionDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PreviousSchool" class="control-label">Previous School</label>
                            <input asp-for="PreviousSchool" class="form-control" />                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PreviousPercentage" class="control-label">Percentage</label>
                            <input asp-for="PreviousPercentage" class="form-control" />                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-light">Back to List</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
            @section Scripts
            {
                <script>
                    console.log("hiii");
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $('.custom-file-label').html(fileName);
                        });
                    });
                </script>
            }
        </form>        
    </div>
</div>

<div>
   
</div>

